body 
{
        background-repeat: no-repeat;
}

h1
{
    font-family: "Impact";
}

h2
{
    font-family: "Georgia";
}

h3
{
    font-family: "Georgia";
}

p
{
    font-family: "Georgia";
}

ul
{
    font-family: "Georgia";
}

li
{
    font-family: "Georgia";
}