html {
	background-image: url(bg.png);
    	-moz-background-size:100% 100%;
    	-webkit-background-size:100% 100%;
    	-o-background-size:100% 100%;
    	-khtml-background-size:100% 100%;
    	background-size:100% 100%;	
	background-attachment:fixed;
	background-repeat:no-repeat;
}



body {
	
}

/***************************AUTHORIZATION.ASPX************************************/

#content_auto{
	-webkit-box-shadow: 0 5px 13px rgba(0,3,1,.75);
	-moz-box-shadow: 0 5px 13px rgba(0,3,1,.75);
	box-shadow: 0 5px 13px rgba(0,3,1,.75);
	border: solid 2px #a3a2a1;
	border-radius: 4px;
	width: 973px;
	height: 692px;
	position: relative;
	background: #fdf8ef;
	margin: 3% auto;
}




#auto {
	position: relative;
	width: 100%;

}

#fio {
	color:  #515050;
	font-family: " LittleShift";
	font-size: 35px;
	width: 100%;
	text-align: center;
	margin-top: 34px;
	position: relative;
	outline: none;
	border: none;
	background: transparent;
}



 .colon {

 	width: 100%;
 	position: relative;
 	font-family: "LittleShift";
	font-size: 25px;
	color: #515050;
	height: 38px;
 }

 .leftcolon {
 	padding-left: 70px;
 	width: 42%;
 	float: left;
 	text-align: left;
 	vertical-align: middle;
}


 .rightcolon {
 	width: 49%;
 	float: right;
 }



.buttoninput, .buttoninputfac, .buttoninputfac{
	position: relative;
 	border: solid 3px #a3a2a1;
 	border-radius: 6px;
	width: 418px;
	height: 44px;
	top: -8px;
	cursor: pointer;
}



.liststatus, .listfilial, #listfaculty, #listcountrybr, #listcountryliv {
	position: relative;
	border: solid 3px #a3a2a1;
	margin-left: -3px;
	margin-top: -3px;
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
	height: 0px;
	z-index: 23;
	background: #fdf8ef;
	display: none;
	outline: none;
}

.buttoninputtext{
	top: 10px;
	left: 20px;
	position: absolute;
	font-family: "LittleShift";
	font-size: 20px;
	height: 25px;
	color: #515050;
	width: 100%;
	overflow: hidden;
}

.littlebutton {
	position: absolute;
	right: 12px;
	top: 11px;
}

.listitem {
	padding-left: 20px;
	width: 373px;
	min-height: 28px;
	font-family: LittleShift;
	font-size: 20px;
	color: #515050;
	vertical-align: middle;
	padding-top: 10px;
	line-height: 100%;
}

#podvergdenie {
	position: relative;
	margin-top: 50px;
	margin-left: 370px;
}

#submitpodtv {
	position: relative;
	float: left;
	display: inline-block;
	cursor: pointer;
}

#textpodtvergd {
	margin-top: 4px;
	margin-left: 10px;
	position: relative;
	float: left;
	font-family: LittleShift;
	font-size: 20px;
	color: #515050;
}

#submitbutton{
	position: relative;
	margin-top: 46px;
	margin-left: 150px;
	width: 190px;
	height: 35px;
	border: solid 3px #a3a2a1;
 	border-radius: 15px;
 	cursor: pointer;
}

#submitbuttontext {
	margin-top: 3px;
	width: 100%;
	text-align: center;
	font-family: LittleShift;
	font-size: 23px;
	color: #515050;	
}

/***************************ABOUTPROJECT.ASPX************************************/

.nobgimage {
	background: none;
}

.header {
	position: relative;
	width: 100%;
	height: 100px;
}

.header_content {
	position: relative;
	margin: 0 auto;
	width: 560px;
	height: 100%;
}

.header_content_text{
	margin-top: -47px;
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	font-family: "Segoe UI";
	font-size: 30px;
	color: #898b91;
}

.header_content_logo {
	position: relative;
	float: left;
	margin-top: 30px;
}

.wrap1 {
	position: relative;
	width: 100%;
	height: 230px;
	background: #667580;
}

.wrap1_content {
	width: 560px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.wrap1_content_img-laptop {
	position: relative;
	float: right;
	margin-top: 15px;
	margin-right: -2px;
}

.wrap1_content_text {
	z-index: 40;
	width: 275px;
	position: relative;
	float: left;
	margin-left: -5px;
	margin-top: 50px;
	font-family: "Segoe UI";
	font-size: 20px;
	color: #fff;
}

.wrap1_content_button {
	position: relative;
	float: left;
	background-image: url(buttonaboutproject.png);
	width: 168px;
	height: 57px;
	margin-top: 1px;
	cursor: pointer;
}

.wrap1_content_button-text {
	text-align: center;
	margin-top: 26px;
	margin-left: -5px;
	height: 100%;
	width: 100%;
	position: absolute;
	display: inline-block;
	font-family: "Segoe UI";
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.wrap2 {
	position: relative;
	width: 100%;
	height: 230px;
	background: #fee79b;
}

.wrap2_content {
	width: 560px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}

.wrap2-content_left-colomn{
	position: relative;
	float: left;
	height: 100%;
	width: 185px;
}

.wrap2-content_left-colomn_text{
	position: relative;
	float: left;
	margin-top: 90px;
	width: 100%;
	font-family: "Segoe UI";
	font-size: 15px;
	color: #9d9064;
}

.wrap2-content_left-colomn_img{
	position: relative;
	display: inline-block;
	width: 75px;
	height: 87px;
	margin-top: 24px;
	margin-left: 17px;
}

.wrap2-content_right-colomn{
	position: relative;
	float: right;
	width: 360px;
	height: 100%;
	font-family: "Segoe UI";
	font-size: 16px;
	color: #9d9064;
	text-shadow: 0px 0px 1px  #fee79b;
}

.wrap2-content_right-colomn p{
	margin-top: 3.5px;
	margin-bottom: 4px;
}


.wrap3 {
	position: relative;
	width: 100%;
	height: 210px;
	background: #00a885;
}

.wrap3_content {
	width: 560px;
	margin: 0 auto;
	position: relative;
	height: 100%;
}


.wrap3-content_left-colomn{
	position: relative;
	float: left;
	height: 100%;
	width: 325px;
}

.wrap3-content_left-colomn_item {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 12px;
}

.wrap3-content_left-colomn_item-img{
	position: relative;
	display: inline-block;
	float: left;
	margin-top: 5px;
	margin-left: -3px;
}

.wrap3-content_left-colomn_item-text{
	display: inline-block;
	position: relative;
	float: right;
	width: 290px;
	font-family: "Segoe UI";
	font-size: 15px;
	color: #fff;
	line-height: 1;
	text-shadow: 0px 0px 1px  #fee79b;
}

.wrap3-content_right-colomn_img{
	position: relative;
	float: right;
	background-image: url(window.png);
	width: 218px;
	height: 161px;
	margin-top: 30px;
}

.wrap3-content_right-colomn_img_opacity {
	z-index: 10;
	position: absolute;
	width: 219px;
	height: 100%;
	background: -moz-linear-gradient(left,transparent, #00a885);
	background: -ms-linear-gradient(left,transparent, #00a885);
	background: -o-linear-gradient(left,transparent, #00a885);
	background: -webkit-linear-gradient(left,transparent,#00a885);
	background: linear-gradient(left,transparent, #00a885);
}

.wrap3-content_right-colomn_img-text {
	z-index: 20;
	margin-top: 62px;
	margin-left: 20px;
	position: relative;
	font-family: "Segoe UI";
	font-size: 16px;
	color: #257665;
}

.wrap3-content_right-colomn_img-text p{
	margin-top: 0px;
	margin-bottom: 5px;
}

.footer {
	position: relative;
	width: 100%;
	height: 90px;
	background: #454a58;
}

.footer_content {
	position: relative;
	margin: 0 auto;
	width: 560px;
	height: 100%;
}

.footer-content_where-text {
	position: relative;
	float: left;
	font-family: "Segoe UI";
	font-size: 12px;
	color: #fff;
	margin-top: 37px;
	margin-left: -5px;
}


.footer-content_about-text{
	position: relative;
	float: left;
	font-family: "Segoe UI";
	font-size: 12px;
	color: #fff;
	margin-top: 37px;
	margin-left:112px;
} 

.footer-content_img-logo {
	position: relative;
	float: right;
	margin-right: -1px;
	margin-top: 30px;
}

